* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00bfff;
  --primary-hover-color: #edeeee;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

.pd {
  padding: 5% 6% 5%;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Open Sans";
  scroll-behavior: smooth;
}

.container {
  display: none;
}

/* *******************Loading Spinner********************* */
.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border-top: 3px solid var(--primary-color);
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ****************************************************** */

/* ******************navbar************************* */
.navbar {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-top: 0.5rem solid #000;
  z-index: 100;
  padding: 0.8rem 0;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  grid-column: 1/2;
}

.bars {
  display: none;
  align-items: center;
  justify-content: center;
}

.logo div {
  width: 6rem;
  height: 6rem;
}

.logo div img {
  width: 100%;
  height: 100%;
}

.navbar-items {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-items a {
  margin: 0 0.8rem;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-items a span {
  padding: 1rem 2rem;
}

.navbar-items a span:hover {
  background-color: var(--primary-hover-color);
  border-bottom: 3px solid #000;
}

.navbar-items a:nth-child(5) {
  background-color: var(--primary-color);
  border-bottom: 3px solid #000;
  padding: 1rem 0;
}

.navbar-items a:nth-child(5){
  color: #fff;
}

.navbar-items span:nth-child(5) a:hover {
  background-color: transparent;
}
/* ************************************************* */
/* *******************slideshow********************* */
.slideshow {
  margin-top: 5%;
}

.slide {
  height: 85vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sliding {
  display: flex;
}

.slide_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide_1 {
  transition: all 5s ease-in-out;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(../img/slides/hope-2.jpg);
}
.slide_2 {
  display: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(../img/slides/hope-3.jpg);
}
.slide_3 {
  display: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(../img/slides/hope-6.jpg);
}

.slide_main_title {
  background-color: var(--primary-color);
  padding: 1rem;
  font-size: 2rem;
  margin: 0.5rem 0 1.5rem;
  width: 50%;
  text-align: center;
}

.slide_main_content {
  font-size: 1.5rem;
  color: #fff;
  margin: 0.5rem 0 2rem;
  line-height: 1.5;
  width: 40%;
  font-weight: bold;
  text-align: center;
}

.left {
  animation: leftToRight 5s ease-in-out;
}

.right {
  animation: rightToLeft 5s ease-in-out;
}

.slide_main_btn {
  display: flex;
}

.details-btn {
  background-color: #000;
  padding: 1rem 1.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem;
}

.donate-btn {
  background-color: var(--primary-color);
  padding: 1rem 1.5rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.donate-btn:hover,
.details-btn:hover {
  color: rgba(255, 255, 255, 0.8);
}

.slide_btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  transition: all 0.5s;
  opacity: 0.3;
  transition: all 0.5s;
}

.slide_btn:hover {
  opacity: 1;
}

.slide_btn i {
  font-size: 8rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
}

@keyframes rightToLeft {
  from {
    transform: translate(12rem);
    opacity: 0.2;
  }
  to {
    transform: translate(0rem);
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    transform: translate(-12rem);
    opacity: 0.2;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
/* ************************************************* */

.causes {
  background-image: url(../img/back-2.jpg);
}

.title {
  background-image: url(../img/line_2.png);
  background-repeat: repeat-x;
  background-position: center;
  margin: 4rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.8rem 6rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.causes-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.cause {
  width: 22%;
  margin: 1rem 0 2rem;
}

.cause-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.cause-title h3 {
  background-color: var(--primary-color);
  font-size: 1.8rem;
  margin: -0;
  padding: 1rem 0;
  text-align: center;
}

.cause-btn {
  background-color: #000;
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.cause-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  /* border-bottom: 2px solid #000; */
}
/* ***************************************************** */

.title-dark {
  background-image: url(../img/line.png);
  background-repeat: repeat-x;
  background-position: center;
  margin: 4rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-dark h1 {
  background-color: #000;
  color: var(--primary-color);
  padding: 0.8rem 6rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid var(--primary-color);
}

.sponsors-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* .sponsors-items img{
  animation: slideToRight 7s infinite linear;
} */

/* .sponsors-items:nth-last-child(even){
  animation: slideToRight 15s linear infinite;
}

.sponsors-items:nth-last-child(odd){
  animation: slideToRight 12s linear infinite;
} */

.sponsor {
  /* width: 20%;
  height: 8rem; */
}

@keyframes slideToRight {
  100% {
    transform: translateX(1rem);
  }
}
/* ****************************************** */
.contact {
  background-color: var(--primary-color);
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.icons i {
  font-size: 3.5rem;
  margin: 0 1rem;
}

.icons i:hover {
  color: #fff;
}

.contact-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 5%;
}

.contact-add {
  grid-column: 1/2;
}

.contact-add-item {
  margin-bottom: 3rem;
}

.contact-add-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2;
}

.contact-add-sub-title {
  font-size: 1.8rem;
}

.contact-fom {
  grid-column: 2/3;
}

.contact-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.contact-form-input label {
  font-size: 1.8rem;
  line-height: 2;
}

.contact-form-input input,
.contact-form-input textarea {
  font-size: 1.8rem;
  padding: 1rem;
  font-family: "Open Sans";
  outline: none;
}

.contact-form-input input[type="button"] {
  background-color: #000;
  width: 30%;
  outline: none;
  color: #fff;
  border: none;
}

input[type="button"]:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.3rem;
}

.footer-nav a:hover {
  color: #fff;
}

.footer-cop {
  font-size: 1.5rem;
  padding: 1rem 0;
}
