* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00bfff;
  --primary-hover-color: #edeeee;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans";
}

.container {
  display: none;
}

/* *******************Loading Spinner********************* */
.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border-top: 3px solid var(--primary-color);
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ****************************************************** */

/* ******************navbar************************* */
.navbar {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border-top: 0.5rem solid #000;
  z-index: 100;
  padding: 1rem 0;
  background-color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  animation: rightToLeft 3s ease-in-out;
}

.logo span {
  width: 8rem;
  height: 8rem;
}

.logo span img {
  width: 100%;
  height: 100%;
}

.navbar-items {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-items span a {
  padding: 1rem 2rem;
  margin: 0 0.8rem;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
}

.navbar-items span a:hover {
  background-color: var(--primary-hover-color);
  border-bottom: 3px solid #000;
}

.navbar-items span:nth-child(4) {
  background-color: var(--primary-color);
  border-bottom: 3px solid #000;
  padding: 1rem 0;
}

.navbar-items span:nth-child(4) a {
  color: #fff;
}

.navbar-items span:nth-child(4) a:hover {
  background-color: transparent;
}
/* ************************************************* */
/* *******************slideshow********************* */
.slideshow {
  margin-top: 7.5%;
}

.slide,
.slide_1 {
  height: 85vh;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
}

.sliding {
  display: flex;
}

.slide_1 {
  background-image: url(../img/slides/hope-2.jpg);
  transition: all 5s ease-in-out;
}
.slide_2 {
  background-image: url(../img/slides/hope-3.jpg);
}
.slide_3 {
  background-image: url(../img/slides/hope-6.jpg);
}

.slide_content {
  margin-left: 10%;
  animation: leftToRight 3s ease-in-out;
}

.slide_main_title {
  background-color: var(--primary-color);
  padding: 1rem;
  font-size: 2rem;
  width: 40%;
  margin: 0.5rem 0 1.5rem;
}

.slide_main_content {
  font-size: 1.5rem;
  width: 40%;
  color: #fff;
  margin: 0.5rem 0 2rem;
  line-height: 1.5;
}

.left {
  animation: leftToRight 3s ease-in-out;
}

.right {
  animation: rightToLeft 3s ease-in-out;
}

.details-btn {
  background-color: #000;
  padding: 1rem 1.3rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
}

.donate-btn {
  background-color: var(--primary-color);
  padding: 1rem 1.5rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.slide_btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  transition: all .5s;
  opacity: .3;
  transition: all .5s;
}

.slide_btn:hover{
  opacity: 1;
}

.slide_btn i {
  font-size: 8rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
}

@keyframes rightToLeft {
  from {
    transform: translate(10rem);
  }
  to {
    transform: translate(0);
  }
}

@keyframes leftToRight {
  from {
    margin-left: 0;
    opacity: .2;
  }
  to {
    margin-left: 10%;
    opacity: 1;
  }
}
/* ************************************************* */

.causes {
  background-image: url(../img/back-2.jpg);
  height: 100vh;
  padding: 2% 6%;
}

.title {
  background-image: url(../img/line_2.png);
  background-repeat: repeat-x;
  background-position: center;
  margin: 4rem 0;
  text-align: center;
}

.title h1 {
  background-color: var(--primary-color);
  color: #fff;
  padding: .8rem 6rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
